/*******Designed by Dijil Varghese********/
@font-face {font-family: "PencilBox";src: url(pencil.ttf) format("truetype");}
body {margin: 0 auto;padding:0px; background-color:#86D5E5; font-family: Arial, Helvetica, sans-serif; font-size: 13px;line-height: 1.5em; width:90%; }
a, a:link, a:visited {color: #272727; text-decoration: none;}
a:hover {text-decoration: underline;}
p {margin: 0px;padding: 0;}
img {border: none;}
h1, h2, h3, h4, h5, h6 {color: #272727;}
h1 {font-size: 40px;font-weight: normal;margin: 0 0 30px 0;padding: 5px 0; }
h2 {font-size: 28px;font-weight: normal;margin: 0 0 20px 0;padding: 0;}
h3 {font-size: 21px;margin: 0 0 15px 0;padding:0;}
h4 {font-size: 18px;margin: 0 0 15px 0;padding: 0;}
h5 {font-size: 16px;margin: 0 0 10px 0;padding: 0;color: #ccc;}
h6 {font-size: 14px;margin: 0 0 5px 0;padding: 0;color: #ccc;}
.cleaner {clear: both;width: 100%;height: 0px;font-size: 0px;}
.cleaner_h10 {clear: both;width:100%;height:10px;}
.cleaner_h20 {clear: both;width:100%;height:20px;}
.cleaner_h30 {clear: both;width:100%;height:30px;}
.cleaner_h40 {clear: both;width:100%;height:40px;}
.cleaner_h50 {clear: both;width:100%;height:50px;}
.cleaner_h60 {clear: both;width:100%;height: 60px;}
.float_l {float: left;}
.float_r {float: right;}
em {color:#fff;}
.heading{font-family: "Segoe UI", Arial, sans-serif;background-color: #272727;
    color: #fff; display: inline-block; padding-left: 8px; padding-right: 8px; text-align: center;opacity:0.9;}
wrapper_outer {z-index:2; margin: 0 auto;}
#wrapper_right{margin: 0 auto; z-index:2; width:100%;}
.church_title{font-size:50px;font-weight: bold;padding-top:20px;height:60px;}
#admin_panel{text-align: right; z-index:21; color:#ee3344;font-size:20px;cursor:pointer;height:30px;width:60px;margin-top:20px;}
#admin_input{
background-color:#c4ac80;color:white;border:2px solid #272727;
position:absolute;cursor:pointer;padding-left:20px;padding-top:0px;padding-bottom:10px;
height:100px;width:280px;margin-top:0;margin-left:75%;z-index:35;visibility: hidden;}
#admin_input td{color:white;}
#admin_input input{color:#272727;font-size:15px;width:130px;}
#forgot{position:absolute; margin-top:30px; margin-left:2%;}
#wrapper{width:100%; height:220px;position:relative; z-index:20;}
/* header */
#social_box {float: right;display: inline-block;padding: 0;list-style: none;z-index:30;}
#social_box a {width: 46px;height: 46px;margin-right: 5px;cursor:pointer;}
/* end of header */
/* Navigation menu  */
.currentTab{color:#272727;}
#nav {cursor:pointer; width:100%;height:60px;line-height:100%;list-style:none;display:inline-block;z-index:100;padding-left: 0;}
#nav li {width:auto;  height:40px; position: relative;list-style: none;display: inline-block;}
#nav li:hover{background:#272727;}
#nav li:hover > a{color:white !important;}
#nav ul li:hover > a{color:red !important;}

#nav li a{margin: 12px 5px; display:block;font-size:16px; 
    color:brown;text-decoration:none;font-weight:bold;outline:none;}
#nav li ul li {width:220px;} 
#nav li:hover > ul {display: block;}
#nav ul li:hover{ width:220px; }
#nav ul li a{color:#fff;}
#nav ul li{height:30px;}
#nav ul {text-align:left;display: none; padding-left: 0px; position: absolute;top: 40px;background:#272727;}
#nav ul ul {overflow:hidden;left: 220px; top:0px; width:250px; padding-left: 0px;}
#nav ul ul a{width:250px;}
/* End of navigation */

#content_wrapper {position:relative;width:100%; overflow:hidden; padding: 10px;}
#content{padding: 0px;width: 100%; font-size:20px; line-height:1.2em; color:#272727;text-align:justify;}
#content p{margin-bottom: 10px;}

#fb_like{margin-left:3%;position:relative;color:white; padding-top:20px;padding-left:50px;}
.col_w420 {float: left;width: 380px;padding-right: 40px;}
.last_box {margin-left: 40px;padding: 0;}
#contact_form {  float: left; padding: 0; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form textarea {width: 380px;height: 200px;background: #fff;border: 1px solid #dfdfdf;padding: 5px;font-size: 12px;}
#contact_form form .submit_btn {margin: 10px 0px;padding: 5px 14px;border: 1px solid #dfdfdf;background: #fff;color:#666;font-weight: bold;}
/* footer */
#footer {margin-left:3%;margin-top:10%;position:relative;width: 88%;padding:20px 3%;text-align: center;color: #272727;}
#footer a {color: #272727;}/* end of footer */
.company img{width:100%;}
.company .contact{font-size:20px;}