body{background-color:#86D4E5;color:#272727; width:1100px;}
#adminWrapper{height:270px; z-index:1;}
#page_table_image img{width:300px;height:180px;position:absolute;margin-left:50%;margin-top:-130px;border:20px solid #272727;}
#one_council_member_wrapper{border:solid #272727;}
#photo_council_members img{height:180px;width:200px;}
#photo_council_members input[type='file']{top:100px; left:7%; position:absolute; z-index:50;font-size:12px;}
#photo_council_members .upload{top:150px; left:6%; position:absolute; z-index:50; width:38%;font-size:12px;}
#photo_council_members .delete{top:150px; left:45%; position:absolute; z-index:50; width:38%;font-size:12px;}
#one_council_member{height:185px;}
#one_council_member_post{background-color:#272727;color:white;text-align:center;}
#header{height:100px;width:100%;margin-left:0;margin-top:20px;text-align:center;font-size:30px;}
#logout{font-size:20px;margin-left:85%;}
#body{position:relative;padding:0px 0px 0px 0px;}
h2{font-size:30px;text-align:center;}
/* a:visited{color:#ffffff;}a:link{color:#ffffff;text-decoration:none;}a:hover{color:#fff;} */
#navigate{background-color:#272727;color:white; font-size:18px; position:fixed;margin-top:20px;padding:10px;width:450px;top:0;left:0;z-index:100; }
ul{list-style:none;}
#navigate:hover>ul{display:block;}
#navigate ul li:hover>ul{display:block;}
#navigate ul{background-color:#272727; position:absolute;z-index:100;width:140px;display:none;margin:0px;padding:20px;}
#navigate ul ul{margin-top:-40px;z-index:100;width:200px;margin-left:100px;padding:20px;background-color:#272727;}    
#navigate ul li a{text-decoration:none; line-height: 2em; font-size:15px;color:white;}
#navigate li a:hover {color:red;}
/* #content{position:absolute;margin-left:auto;float:none;width:90%;padding:10px 10px 0px 30px;font-size:20px;color:#272727;} */
#content input,#content textarea,#content select{width:100%;}
input[type='file'],input[type='submit']{cursor:pointer;}
#change_password_button,#add_user_button,#view_users_button,#show_gallery_button,#show_information_button{width:100% !important;}
#password_table, #show_information, #add_user_table, #view_users{position:absolute; width:100%;}
#one_image{position:relative;}#one_image_wrapper{margin-left:0px;margin-top:10px; position:relative; width:200px; height:250px;}
#one_image img{height:200px; width:100%; border:solid #262626;}
button{height:50px; width:auto; cursor:pointer; padding:5px; color:#272727; font-size:18px;}